.singleColorPalette {
    // 用 flex 解 可以垂直滑動scroll的問題
    display: flex;
    flex-direction: column;
    height: 100vh;

    & > .paletteColors {
        height: 90%;

        & > :nth-child(n) {
            height: 50%;
        }

        & > .goBack {
            position: relative;
            float: left;
            width: 20%;
            background-color: black;

            & > .backButton {
                display: inline-block;
                width: 100px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                background-color: rgba(255, 255, 255, 0.3);
                color: #fff;
                font-size: 16px;
                line-height: 30px;
                text-transform: uppercase;
            }
        }
    }
}
