.paletteFooter {
    // Navbar 是 6vh 會造成scroll滑動
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;

    & > .emoji {
        font-size: 24px;
        margin: 0 16px;
    }
}